[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
chromadb = "*"
langchain = "*"
loguru = "*"
openai = "*"
python-dotenv = "*"
tiktoken = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
